.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  span {
    &:nth-child(1) {
      font-weight: bold;
    }

    &:nth-child(2) {
      font-size: 14px;
    }
  }
}
